@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom CSS */
html {
  scroll-behavior: smooth;
}

.hero-body {
  max-width: 700px;
}

.history-body {
  max-width: 410px;
}

.history-entry-1 {
  padding-left: 7rem;
}
.history-entry-2 {
  padding-right: 4.8rem;
}

.team-member {
  width: 291px;
  height: 291px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3rem 0rem;
}
