$link-yellow: #e6a103;
$link-yellow-hover: #e6a103;

.events-menu {
  display: flex;
  flex-direction: row;


}

.event-icon {
  height: 28px;
  width: 28px;
  margin-right: 3px;

  transition: 0.3s;
  opacity: 0.45;

  &.active, &:hover {
    transition: 0.3s;
    opacity: 1;
  }

  img {
    fill: red;
  }
}


table.rankings {

  white-space: nowrap;
  
  tr:nth-of-type(odd) {
    background-color: #e9e9e9;
  }

  td.name {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  tr > td:last-child {
    width: 100%;
  }

}
