$link-yellow: #e6a103;
$link-yellow-hover: #e6a103;

.event-icon {
  height: 28px;
  width: 28px;
  margin-right: 3px;

  transition: 0.3s;
  opacity: 0.45;

  &.active, &:hover {
    transition: 0.3s;
    opacity: 1;
  }

  img {
    fill: red;
  }
}

.rankings-container {
  width: 100%;
  padding-bottom: 120px;
  overflow-x: auto;
}

.table-responsive {
  width: auto;
}

table.rankings-list {

  white-space: nowrap;
  
  thead tr {
    border-bottom: 2px solid #ddd;
    background-color: #fff;
  }

  tr {
    border-bottom: 1px solid #ddd;
  }

  tbody tr:nth-of-type(odd) {
    background-color: #e9e9e9;
  }

  td.name {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  tr > td:last-child {
    width: 100%;
  }

}
